@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
}
.RichTextEditor__editor___1QqIU {
  height: 250px;
  font-size: 14px;
}

#comment-box {
  height: 70vh;
  overflow-y: scroll;
}
#comment-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

#comment-box::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#comment-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
.datepicker-appointment {
  width: 100%;
  padding: 8.5px 14px;
  /* height: 1.4375em; */
  border-radius: 5px;
  border: 1px solid rgb(118, 118, 118);
  margin-bottom: 10px;
}
.css-1h8j2lx-MuiPaper-root-MuiDialog-paper {
  border: 3px solid #4b4d99;
  border-radius: 6px;
}
